@import url("fonts.css");
body {
  font-family: 'ProximaNova-Light', sans-serif;
  font-weight: normal;
  background: #F4F4F4;
  color: #595959;
}

div, section {
  box-sizing: border-box;
}

.section {
  display: flex;
  padding: 40px 15%;
  height: 100vh;
}

.section.centered {
  align-items: center;
}

.section .section-title {
  font-family: 'ProximaNova-Bold', sans-serif;
  font-size: 58px;
}

.section .wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section.intro > .wrapper h3:last-of-type {
  margin: 30px 0 0 0;
}

.section.intro > .wrapper h5 {
  margin: 0 0 20px 0;
}

h3 {
  font-family: 'ProximaNova-Light', sans-serif;
  font-size: 28px;
  margin: 10px 0;
}

h5 {
  font-size: 20px;
  opacity: 0.6;
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #595959;
}

.title {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  font-family: 'ProximaNova-Semibold', sans-serif;
  border: 1px solid #595959;
}

.title h1 {
  font-size: 58px;
  margin: 0;
}

.title + h3 {
  margin-top: 20px !important;
}

.mouse-down {
  margin: 60px auto 0 auto;
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.6;
  transition: 0.3s;
}

.mouse-down:hover {
  cursor: pointer;
  opacity: 0.8;
}

.portfolio .projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;
}

.portfolio .projects .category {
  position: absolute;
  left: 0;
  top: -15px;
  font-family: 'ProximaNova-Bold', sans-serif;
  font-size: 36px;
  opacity: 0.8;
}

.portfolio .projects .project {
  width: 48%;
  margin-top: 30px;
}

.portfolio .projects .project:first-of-type, .portfolio .projects .project:nth-of-type(2) {
  margin-top: 60px;
}

.portfolio .projects .project .image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  background: white;
  box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 0.09);
  border-radius: 8px;
  border: 1px solid transparent;
  transition: 0.3s;
}

.portfolio .projects .project .image img {
  max-width: 100px;
}

.portfolio .projects .project .image:hover {
  cursor: pointer;
  box-shadow: none;
  border-color: #595959;
}

.portfolio .projects .project .description {
  text-align: center;
}

@media (max-width: 1000px) {
  .title h1 {
    font-size: 40px;
  }
}

@media (max-width: 690px) {
  .section.intro {
    padding-top: 5%;
    align-items: flex-start;
    min-height: 50vh;
    overflow: hidden;
  }
  .title h1 {
    font-size: 30px;
  }
  .title + h3 {
    margin-top: 10px;
  }
  h3 {
    font-size: 24px;
  }
  h5 {
    font-size: 16px;
  }
  .mouse-down {
    width: 25px;
  }
  .portfolio .projects .project {
    width: 100%;
  }
  .portfolio .projects .project:nth-of-type(2) {
    margin-top: 30px;
  }
}

@media (max-width: 540px) {
  .section .section-title {
    font-size: 44px;
  }
  .portfolio {
    padding-top: 0px !important;
  }
  .portfolio .projects .category {
    font-size: 30px;
  }
}

@media (max-width: 340px) {
  .section .section-title {
    font-size: 38px;
  }
  .portfolio .projects .category {
    font-size: 26px;
  }
}

@media (min-width: 1600px) {
  .section .section-title {
    font-size: 70px;
  }
  .portfolio .projects .category {
    font-size: 46px;
  }
  .portfolio .projects .project .image {
    height: 230px;
  }
  .portfolio .projects .project .description {
    font-size: 30px;
  }
  .title h1 {
    font-size: 84px;
  }
  .title + h3 {
    margin-top: 40px;
    font-size: 40px;
  }
  h3 {
    font-size: 40px;
  }
  h5 {
    font-size: 32px;
  }
  .mouse-down {
    width: 40px;
    margin-top: 120px;
  }
}

@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(15%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
/*# sourceMappingURL=style.css.map */